* {
    padding: 0px;
    margin: 0px;
}

#navigation {
    width: 200px;
    height: 550px;
    position: fixed;
    background-color: rgb(14, 8, 44);
    left: -210px;
    transition: all 500ms linear;
    border: 1px solid black;
}

#navigation ul li {
    list-style: none;
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

#navigation .bouton {
    position: absolute;
    left: 210px;
    top: 20px;
}

#navigation .bouton span {
    display: block;
    width: 30px;
    height: 5px;
    background: black;
    margin: 5px 0px;
}

#navigation.active {
    left: 5px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}

#corps {
    width: 75%;
    height: 550px;
    border: 1px solid black;
    margin-left: 265px;
    margin-top: 40px;
    margin-bottom: 0px;
    background-color: rgb(14, 8, 44);
}

h1 {
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
}

div ul li:hover {
    background-color: rgb(20, 241, 230);
}