.lampe {
    width: 600px;
    height: 600px;
    margin-top: 0px;
}

.interrupteur {
    width: 100px;
    height: 100px;
    margin: auto;
}

#block1 {
    width: 600px;
    height: 600px;
    float: right;
}

#block2 {
    width: 100px;
    height: 100px;
    float: left;
}